#root {
  /* color: red; */
}

#root ul{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
   list-style:none;
}

#root ul li{
  width:30%;;
  padding:15px;
}

#root ul li img{
  width:100%;
  
}
#root ul li .top{
  padding:10px ;
  text-align:center;
  border:2px solid #333;
  border-radius:7px;
}


#root ul li .botten{
  padding:10px ;
  text-align:center;
  border:2px solid #333;
  border-radius:7px;
}